node_modules/*
gradle.properties
.DS_Store
*.pyc
*.un~
*.synctex.gz
*.log
*.out
*.class
*.aux
*.idx
*.swp
*.lof
*.lot
*.toc
*.jar
*.iml
*.idea
bin/
build/
target/
.gradle/
.settings/
.classpath
.project
/
